<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codigo de Validación</title>
    <link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <section class="container center">
      <div class="row contenedor-imagen">
          <img src="../img/icons/message.png" alt="phone" class="col s12 center">
      </div>
      <div class="row contenedor-titulo">
        <h5 class="col s12">Ahora ingresa tu codigo</h5z>
      </div>
      <div class="row constenedor-descripcion">
        <p class="col s12">Enviamos un SMS con el codigo de verificacion al numero </p>
        <p id="mostrarNumeroTelefono">1231313131</p>
      </div>
      <div class="row contenedor-formulario center">
        <form class="col s12" action="#">
          <div class="row">
            <div class="input-field col s12">
              <div class="">
                <img src="../img/icons/lock.png" alt="codigo-verificacion">
                <input type="text" placeholder="- - - - -">
              </div>
              <div class="contador center">
                <p>reintente en </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>


    <script type="text/javascript" src="../static/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../static/materialize-css/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
  </body>
</html>
