body{

}
.carousel{
  height: 87vh !important;
}

.btn{
  background-color: #fbd43b;
}
.carousel .indicators .indicator-item{
  background-color: #f8f8f8;
}
.carousel .indicators .indicator-item.active{
  background-color: #f64552
}
.contenedor-imagen{
  width: 150px;
  margin: 10% auto 2% !important;
}
section{
  width: 100vh;
  height: 100vh;
}
/*.contenedor-imagen img{
  margin: 0 auto;
}*/
.input-field {
     margin-top: 0;
}
.input-field label img{
  width: 50%;
}
.contador p img{
  width: 7%;
}

.fondo-Amarillo {
  background-color: #fbd43b;
}

.imgCheck {
  height: 15vh;
}

.contendorRow {
  margin-top: 60%;
}
form p{
  text-align: center;
}
