section{
  width: 100vh;
  height: 100vh;
}

.carousel{
  height: 87vh !important;
}

.btn{
  background-color: #fbd43b;
}
.carousel .indicators .indicator-item{
  background-color: #f8f8f8;
}
.carousel .indicators .indicator-item.active{
  background-color: #f64552
}
.contenedor-imagen{
  width: 150px !important;
  margin: 10% 27% 2% !important;
}

img{
  width: 100%;
}
/*.contenedor-imagen img{
  margin: 0 auto;
}*/
.input-field {
     margin-top: 0;
}
.input-field label img{
  width: 50%;
}
.imagenPeque{
  width: 5% !important;
}
#imagTelCodPais{
  width: 19% !important;
}
.contador p img{
  width: 7%;
}

.fondo-Amarillo {
  background-color: #fbd43b;
}

.imgCheck {
    margin: 23% 16% 2% !important;
  }

form p{
  text-align: center;
}
